{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block branding %}
    <h1 id="site-name">{{ 'Grupo Requiez' }}</h1>
{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block object-tools-items %}

         <li>
             <a href="/">Click aqui para regresar a Menu principal</a>
         </li>
    
{% endblock %}