{% extends "admin/base.html" %}

{% load staticfiles %}

{% block title %}{{ 'Technes' }}{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ 'print.css' }}" />
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
      <link rel="stylesheet" type="text/css" href="{% static 'print.css' %}" />
{% endblock %}

{% block branding %}
    <h1 id="site-name">{{ 'Grupo Requiez - Control de producción'}}</h1>
{% endblock %}

{% block content_title %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<style>
    table, th, td {
      border: 0px solid black;
    }

    td {
        text-align: center;
    }
</style>

<table style="width:100%">
    <tr>
      <td>	
            <div>
                <form action='/orden/' method='GET'>
                    <button class="btn"> REVISAR TRABAJO </button>
                </form>
            </div>
      </td>
    </tr>
    <tr>  
      <td>
            <div>
                <form action='/carga/' method='GET'>
                    <button class="btn"> CARGA ARCHIVO </button>
                </form>
            </div>
      </td>
    </tr>
    <tr>
      <td>
        <div>
            <form action='/'' method='GET'>
                <button class="btn"> REPORTES </button>
            </form>
        </div>
      </td>
    </tr>  
    <tr>
      <td>            
            <div>
                <form action='/admin' method='GET'>
                    <button class="btn"> ADMINISTRACION DE DATOS </button>
                </form>
            </div>
        </td>
    </tr>    
    <tr>
      <td>
            <div>
                <form action='/logout'>
                    <button class="btn"> TERMINAR SESION </button>
                </form>
            </div>
      </td>
    </tr>
</table>

{% endblock %}