{% extends "admin/base.html" %}

{% block title %}{{ 'Technes' }}{% endblock %}

{% block branding %}
    <h1 id="site-name">{{ 'Grupo Requiez' }}</h1>
{% endblock %}

{% block content_title %}
    <h1>{{ 'Control de Produccion' }}</h1>
    <br/>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
	<div>
        <form action="/orden/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Enviar">
        </form>
    </div>
{% endblock %}