{% extends 'admin/change_list.html' %}
{% load l10n %}

{% block breadcrumbs %}{% endblock %}

{% block content_title %}

	<div id="liga" >
			<h2>
				<a href="/">Click aqui para regresar a Menu principal</a>
			</h2>
	</div

{% endblock %}
